<project>
	<target name="config" description="apply environment configuration on project">
		<!-- ask for environment name if not specified -->
		<if>
			<not><isset property="environment" /></not>
			<then>
				<input propertyname="environment" validargs="${environments}">Enter environment name</input>
			</then>
		</if>
		<echo msg="configuring application for '${environment}' environment" />
		<copy todir="${project.basedir}" haltonerror="true" overwrite="true" preservelastmodified="true">
			<fileset dir="${build.env_dir}/${environment}">
				<include name="**/*" />
			</fileset>
		</copy>
	</target>	
</project>