<project>
	<target name="list-environments" description="list all available environments">
		<echo msg="${environments}" />
	</target>
	
	<target name="config" description="apply environment configuration on project">
		<!-- ask for environment name if not specified -->
		<if>
			<not><isset property="environment" /></not>
			<then>
				<input propertyname="environment" validargs="${environments}">Enter environment name</input>
			</then>
		</if>
		<available file="${build.environment.dir}/${environment}" type="dir" property="config.environment.exists" value="yes" />
		<if>
			<equals arg1="${config.environment.exists}" arg2="1" />
			<then>
				<echo msg="configuring application for '${environment}' environment" />
				<copy todir="${project.basedir}" haltonerror="false" overwrite="true" preservelastmodified="true">
					<fileset dir="${build.environment.dir}/${environment}">
						<include name="**/*" />
					</fileset>
				</copy>
			</then>
			<else>
				<echo msg="environment '${environment}' not found. skipping" />
			</else>
		</if>
	</target>	
</project>